/* styles.css */
.button-styling {
    -fx-background-color: #4CAF50; /* Màu nền xanh lá cây cho nút */
    -fx-text-fill: white; /* Màu chữ trắng cho nút */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-font-weight: bold; /* Chữ đậm */
    -fx-border-color: black; /* Màu viền đen */

}

#layout-container {
    -fx-background-color: #f2f2f2; /* Màu nền của layout */
}
.title-label {
    -fx-font-size: 40px; /* Kích thước chữ */
    -fx-font-weight: bold; /* Độ đậm chữ */
    -fx-alignment: CENTER; /* Canh giữa dòng chữ */
    -fx-padding: 10px 0 10px 0; /* Độ dày đệm trên và dưới của nhãn */
    -fx-text-fill: blue; /* Màu chữ xanh cho nút */
    -fx-font-family: "VNI-Wide Latin", sans-serif; /* Thay đổi kiểu chữ (font) */

}
.codinh-label {
    -fx-font-size: 17px; /* Kích thước chữ */
    -fx-font-weight: bold; /* Độ đậm chữ */
    -fx-alignment: CENTER; /* Canh giữa dòng chữ */
    -fx-padding: 10px 0 5px 0; /* Độ dày đệm trên và dưới của nhãn */
    -fx-text-fill: black; /* Màu chữ đen cho nút */
    -fx-padding: 0 0 0 50; /* Thiết lập lề trái là một tab */

}
.input-label {
    -fx-font-size: 15px; /* Kích thước chữ */
    -fx-font-weight: normal ; /* Độ đậm chữ */
    -fx-padding: 5px 0px 5px 0; /* Độ dày đệm trên và dưới của nhãn */
    -fx-text-fill: black; /* Màu chữ đen cho nút */

}
.button-layout {
    -fx-alignment: CENTER; /* Căn giữa các nút trong HBox */
     -fx-spacing: 10; /* Khoảng cách giữa các nút trong HBox */
}
